.header {
  height: 100vh;
  width: 100%;
  background-image: url(../../public/guitars.jpg);
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.header_info {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header_info h1 {
  margin: 0;
  font-size: 140px;
  /* font-weight: 900; */
  margin-top: 500px;
  /* margin-bottom: 300px; */
  /* color: rgb(235, 75, 75); */
  /* color: white; */
}
.header_info h2 {
  font-size: 46px;
}

.main_content {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
}
