.header {
  height: 100vh;
  width: 100%;
  background-image: url(../../public/guitars.jpg);
  background-position: 50% -50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.header_info {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header_info h1 {
  margin: 0;
  font-size: 140px;
  margin-top: 350px;
  text-shadow: -7px 0 25px rgb(0, 0, 0, 25%);
  /* font-weight: 900; */
  /* margin-bottom: 300px; */
  /* color: rgb(235, 75, 75); */
  /* color: white; */
}
.header_info h2 {
  text-shadow: -7px 0 25px rgb(0, 0, 0, 25%);
  margin-top: 0px;
  font-size: 46px;
}

.main_content {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
}

.button_section {
  width: 80%;
  margin: auto;
}
.button_section button {
  width: 476px;
  height: 104px;
  border: none;
  border-radius: 75px;
  cursor: pointer;
  box-shadow: -7px 0 25px rgb(0, 0, 0, 25%);
}
.button_section button:nth-of-type(1) {
  color: #ff8f84;
  font-size: 39px;
  font-weight: bold;
  background-color: white;
  margin-right: 40px;
}
.button_section button:nth-of-type(2) {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  background-color: #ff8f84;
}

@media (max-width: 1300px) {
  .header_info h1 {
    margin-top: 290px;
  }
}

@media (max-width: 1274px) {
  .header_info h1 {
    margin-top: 100px;
  }
  .button_section {
    display: flex;
  }
}

@media (max-width: 375px) {
  .header {
    height: auto;
  }
  .header_info {
    width: 90%;
  }
  .header_info h1 span {
    width: 8.2rem;
    text-align: center;
    word-wrap: break-word;
    font-size: 9.5rem;
    line-height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header_info h1 {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  .header_info h2 {
    margin: 50px auto;
    /* color: black; */
    font-size: 40px;
  }
  .button_section {
    width: 90%;
  }
  .button_section button:nth-of-type(1) {
    font-size: 29px;
  }
  .button_section button:nth-of-type(2) {
    font-size: 23px;
  }
}
